/*DEMO MAKEOVER ARTISTRY*/
/*NAVBAR START*/


@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Explora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Explora&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Explora&family=Permanent+Marker&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Explora&family=Kavoon&family=Permanent+Marker&family=Satisfy&family=Unbounded&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=El+Messiri&display=swap');

.loader_bg{
  position:fixed;
  z-index:999999;
  /* background:#fff; */
  background: radial-gradient(#003, #000);
  width:100%;
  height:100%;
}
.loader{
  border:0 solid transparent;
  border-radius:50%;
  width:150px;
  height:150px;
  position:absolute;
  top:40vh;
  left:40vw;
}

@media screen and (max-width:1024px) {
  .loader{
  top:45vh;
  left:40vw;
}
  
}
@media screen and (max-width: 500px) {
  .loader{

  top:40vh;
  left:30vw;
}
  
}
.loader:before, .loader:after{
  content:'';
  border:1em solid #ffffff;
  border-radius:50%;
  width:inherit;
  height:inherit;
  position:absolute;
  top:0;
  left:0;
  animation: loader 2s linear infinite;
  opacity:0;

}
.loader:before{
  animation-delay: 0.5s;
  
}
@keyframes loader{
  0%{
    transform: scale(0);
    opacity: 0;
  }
  50%{
   
    opacity: 1;
  }
  100%{
    transform: scale(1);
    opacity: 0;
  }
}

/* CSS BUTTON */
.button_enquire {
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button_enquire:after {
  content: "";
  background-color: #ffe54c;
  background-image: linear-gradient(45deg, black, transparent);
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.button_enquire:hover:after {
  top: 0px;
  left: 0px;
}

@media (min-width: 768px) {
  .button_enquire {
    padding: 13px 50px 13px;
  }
}

html,body{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background: radial-gradient(#003, #000);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
p{
  font-family: 'Dancing Script', cursive;
font-family: 'Explora', cursive;
font-size: 35px;
}
li{
  font-family: 'Dancing Script', cursive;
font-family: 'Explora', cursive;
font-family: 'Satisfy', cursive;
font-size: 21px;
}
h1{

font-family: 'Permanent Marker', cursive;
color:#bda201;
font-size: 30px;
}
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;

  min-height: 10vh; 

  background-color: transparent;
 
}

.navbar .logo {
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-family: monospace;
  letter-spacing: 5px;
}

.navbar ul.nav-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 35%;
  list-style-type: none;
}

.navbar ul.nav-links li a {
  font-size: 15px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
 
  letter-spacing: 1px;
}

.navbar .menu-icon {
  display: none;
  cursor: pointer;
  flex-grow: 1;
  margin-left: 25px;
}

.navbar .menu-icon span {
  display: block;
  border-radius: 15px;
  width: 25px;
  height: 5px;
  background-color: #fff;
  margin: 5px;
  transition: all 0.4s ease;
}

@media screen and (max-width: 768px) {
  body {
    
  }

  .navbar .menu-icon {
    display: block;
    z-index: 99999;
  }

  .navbar .logo {
    flex-grow: 1;
  }

  .navbar ul.nav-links {
    position: absolute;
    top: 10vh; /* change to 8vh */
    height: 82vh; /* change to 92vh */
    left: 0px;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 1);
    transform: translateX(-100%);
    transition: transform 0.5s ease-in;
    width: 50%;
  }

  .navbar ul.nav-links li {
    opacity: 0;
  }

  #content h1.content-header {
    font-size: 25px;
  }

  #content p.content-para {
    font-size: 13px;
  }
}

.navbar ul.nav-links.menu-active {
  transform: translateX(0%);
  opacity: 1;
}

@keyframes navLinkAnime {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.navbar .menu-icon.span-anime span:first-child {
  transform: rotate(-135deg) translate(-20px, 6px);
  margin-left: -18px;
}

.navbar .menu-icon.span-anime span:nth-child(2) {
  opacity: 0;
}

.navbar .menu-icon.span-anime span:last-child {
  transform: rotate(135deg) translate(-19px, -5px);
  margin-left: -17px;
}

#content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 82vh;
  margin-top: -18vh; 
  font-weight: bold;
  font-family: monospace;
  letter-spacing: 1px;
}

#content h1 {
  text-transform: uppercase;
  padding: 25px 25px 10px;
  margin: 25px 25px 0;
  font-size: 52px;
}

#content p {
  font-size: 21px;
}
.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}
.bg-dark{
    background-color: transparent;
}

/*NAVBAR ENDS*/
/*CONTENT STARTS*/
.top{
    margin-top:20%;
}
.bg-dark{
    background: radial-gradient(#003, #000);
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.4);
}
/*CONTENT ENDS*/
.text {
  dominant-baseline: central;
  text-anchor: middle;
}
/*BANNER*/
    .banner {
  width: 100%;
  height: 100vh; 
  background-image: linear-gradient(rgb(0 0 0 / 65%),#00000085),url('public/images/banner.jpg');
  background-position: center center;
  background-size: cover;
}
.banner_h1_style{
  font-size: 50px;
  width:100%;
  font-family: 'El Messiri', sans-serif;
  color: transparent;
  -webkit-text-stroke:1px #fff;
  background:url("picture/back.png");
  -webkit-background-clip: text;
  background-position:0 0;
  animation: back 20s linear infinite;
}

@media screen and (max-width: 768px) {
  .banner_h1_style{
  font-size: 50px;
 
}
}
@media screen and (max-width: 500px) {
  .banner_h1_style{
  font-size: 24px;
 
}
}
  @keyframes back{
       100%{
           background-position: 2000px 0;
       }
   }
.banner_h3_style{
  font-size: 26px;
  color: #c6c5c5;
  margin-top:20px;
  font-family: 'Explora', cursive;
  
}

@media screen and (max-width: 768px) {
  .banner_h3_style{
  font-size: 26px;
 
}
}
@media screen and (max-width: 500px) {
  .banner_h3_style{
  font-size: 18px;
 
}
}
.centered {
  position: absolute;
  top: 65%;
  left: 50%;
  width:100%;
  transform: translate(-50%, -50%);
}
.carousel-control.right{
display:none;
}
.carousel-control.left{
display:none;
}
/*3 COLUMN*/
/* Create three equal columns that floats next to each other */
.column {  
  padding: 10px;
  height: 300px; 
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* CSS */
.button-52 {
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-52:after {
  content: "";
  background-color: #ffe54c;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.button-52:hover:after {
  top: 0px;
  left: 0px;
}

@media (min-width: 768px) {
  .button-52 {
    padding: 13px 50px 13px;
  }
}


.bar{
  
  width:100%;
  /* color: #c6c5c5; */
   color: transparent;
    -webkit-text-stroke:1px #fff;
    background:url("picture/back.png");
    -webkit-background-clip: text;
    background-position:0 0;
    animation: back 20s linear infinite;
}

.bar1{
 
   color: transparent;
    -webkit-text-stroke:1px #fff;
    background:url("picture/back.png");
    -webkit-background-clip: text;
    background-position:0 0;
    animation: back 20s linear infinite;
}
.bar2{
   color: transparent;
    -webkit-text-stroke:1px #fff;
    background:url("picture/back.png");
    -webkit-background-clip: text;
    background-position:0 0;
    animation: back 10s linear infinite;
}
.bar3{
   color: transparent;
    -webkit-text-stroke:1px #fff;
    background:url("picture/back.png");
    -webkit-background-clip: text;
    background-position:0 0;
    animation: back 30s linear infinite;
}

article {
  --c: #ffa940;
  --s0: calc(1.25em + 6px);
  --s1: calc(1.25em + 6px + 0.5em);
  place-self: center;
  position: relative;
  width: 14em;
  height: 14em;
  border: solid 0 transparent;
  border-width: 0 var(--s0) var(--s0) 0;
  padding: var(--s1) 0.5em 0.5em var(--s1);
  background: var(--c) padding-box;
}
article:nth-child(2) {
  --c: #b4ff7d;
  filter: invert(1);
}
article::before {
  position: absolute;
  top: 0;
  left: 0;
  border: inherit;
  border-width: 1.25em 0 0 1.25em;
  width: 14em;
  height: 14em;
  box-shadow: inset 0 0 0 6px var(--c);
  mix-blend-mode: difference;
  pointer-events: none;
  content: "";
}

.h3a {
  font-size: 1.5em;
  font-weight: 900;
  line-height: 1.75;
}


.htmlbox {
  font: 100 1.25em/1.25 handlee, z003, segoe script, comic sans ms, cursive;
}
@media (max-width: 360px) {
  .htmlbox {
    font-size: 1em;
  }
}
@media (max-width: 240px) {
 .htmlbox {
    font-size: 0.75em;
  }
}

.bodybox {
  box-sizing: border-box;
  display: grid;
  grid-gap: 1.25em;
  grid-template-columns: repeat(auto-fit, minmax(14em, 1fr));
  overflow-x: hidden;
  padding: 0.5em;
  min-height: 100vh;
  background: linear-gradient(var(--ang, 185deg), #000 calc(50% - .5px), #fff calc(50% + .5px));
}
@media (min-width: 37.8125em) {
  .bodybox {
    --ang: 85deg ;
  }
}

/*Border*/

hr.hr-1 {
  border: 0;
  height: 1px;
  background-image:  linear-gradient(to right,transparent, #baa00b, transparent);
}

/*WHATSAPP*/
.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.my-float{
	margin-top:16px;
}



h3 {
  grid-column: 1/span var(--n);
  color: #fff;
  font: 2em z003, segoe script, comic sans ms, purisa, cursive;
}


.container1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
}

.container1 .card {
  position: relative;
  min-width: 320px;
  height: 440px;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
    inset -5px -5px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  margin: 30px;
  transition: 0.5s;
}

.container1 .card .box {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  background-image:linear-gradient(45deg, #000000, #0d00ff6e);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.5s;
}

.container1 .card .box:hover {
  transform: translateY(-50px);
}

.container1 .card .box:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.03);
}

.container1 .card .box .content {
  padding: 20px;
}

.container1 .card .box .content h2 {
  position: absolute;
  top: -10px;
  right: 30px;
  font-size: 8rem;
  color: rgba(255, 255, 255, 0.1);
}

.container1 .card .box .content h3 {
  font-size: 1.8rem;
  color: #fff;
  z-index: 1;
  transition: 0.5s;
  margin-bottom: 15px;
}

.container1 .card .box .content p {
  font-size: 1rem;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.9);
  z-index: 1;
  transition: 0.5s;
}

.container1 .card .box .content a {
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  background: black;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  margin-top: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}
.container1 .card .box .content a:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
  background: #fff;
  color: #000;
}
@media screen and (max-width: 990px) {
  .mobile_contact {
        justify-content: center;
    display: block;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    flex-wrap: nowrap;
    align-items: flex-start;
  }
  }
  @media screen and (max-width: 1024px) {
  .mob_contact {
    justify-content: none;
  }
  }
 .link-hover{
    
  }
.link-hover:hover{
    margin-left:20px;
    transition: 0.5s ;
  }
.ul_list{
  list-style: none;
  line-height: 300%;
  font-size: 18px;
  color:rgb(235, 237, 243)
}
.i_list{
  font-size:20px;
  margin-right: 10px;
  color:transparent;
  background-color: linear-gradient(#baa00b, transparent) 0 1;
  -webkit-text-stroke:0.1px #b78846;
}
.a_carousel{
  height:70vh !important;
  width:100%;
}  
.container_align{
  margin-top:70px;
  margin-bottom:50px;
}
.blockquote_align{
  border-left: 4px solid #ffe54c;
  line-height: 2;
  text-align:center;
  color:rgb(235, 237, 243);
  border-image: linear-gradient(#baa00b, transparent) 0 1;
}
.content_align{
  list-style: none;
  line-height: 300%;
  color:#bda201;
  font-size: 18px;
}
.carousel_border{
  margin-top:70px;
}
.button_align{
  font-size: 20px;
  background-color: transparent;
  margin-top: 17px;
  color: #c6c5c5;
  margin-top:25px;
}
.containers_modify{
  margin-top:70px;
  margin-bottom:50px;
}
.navbar_sticky{
  position: fixed;
  z-index: 10;
}
.banner_topic{
  color:#ffe54c;
  font-weight: 600;
}
.carousel_in{
  z-index:1;
}
.courses{
  margin-top:50px;
}
.contact_col{
  list-style:none;
  color:#c6c5c5;
  line-height: 2;
  text-align:center;
}
.h1_color{
  color:#bda201;
}
.col_align{
  text-align:center;
  margin-bottom:50px;
  margin-top:50px;
}
.row_modify{
  color:white;
  font-size:15px;
  text-align:center;
}
.mob_link{
  color:#c6c5c5;
  font-size:20px
}
.phone{
  font-size:30px;
  display:flex;
  color:#25d366;
}
.contact_list{
  font-size:19px;
  margin-left:10px;
  color:white;
  display: inline-block;
  text-decoration: none;
}
.word{
  word-break: break-all;
}
.envelope{
  font-size:30px;
  display:flex;
  color:#d12025;
}
.instagram{
  font-size:35px;
  display:flex;
  margin-top: 20px;
  color:#c10635;
}
.hr_borderAlign{
  border-top: 4px solid #ffe54c;
  line-height: 2;
  text-align:center;
  color:rgb(235, 237, 243); 
  border-image: linear-gradient(#baa00b, transparent) 0 1;
}
.hr_margin{
  margin-top:30px;
}
.row_modification{
  text-align:center;
  padding:0px 50px 0px;
}
.col_modify{
  color:white;
  margin-top: 20px;
}
.ul_style{
  list-style:none;
  color:#c6c5c5;  
  line-height: 2;
}
.menu_redirect{
  color:#c6c5c5;
  font-size:15px;
}
.list_style{
  list-style:none;
}
.fb_square{
  font-size:30px;
  display:flex;
  justify-content:center;
  color:#3b5998;
}
.lk_square{
  font-size:30px;display:flex;margin-top: 20px;justify-content:center;color:#0A66C2
}
.link_style{
  font-size:20px;
  margin-left:10px;
  color:white;
  margin-top:0.5rem;
}
.banner_head{
  text-align:center;
  padding-top: 150px;
}
.img_style{
  height:85vh !important;
  width:100%;
}
.ul_design{
  list-style:none;
  text-align:center;
}
.li_hover{
  margin-top:20px;
}
img {
  -webkit-filter: grayscale(100%) blur(50px); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  background-image: linear-gradient(rgb(0 0 0 / 65%), #00000085);
}
